.DS_store
other/maple-bootloader/.dep
other/maple-bootloader/TAGS
other/maple-bootloader/tags
other/maple-bootloader/cscope.out
other/maple-bootloader/build
other/maple-bootloader/*~
*.o
tools/src/stm32flash_serial/src/parsers/parsers.a
