/* Get rid of all those overriden font families */
body, table, div, p, dl,
#projectname,
#projectbrief,
#nav-tree .label {
  font: 15px/21px Georgia,serif
}

#projectname {
  color: #990000;
  font-weight: bold;
  font-size: 24px;
}

#titlearea table {
  padding: 20px;
}

dl.reflist dt, div.memproto {
  border: 1px solid #A8B8D9;
}

dl.reflist dd, div.memdoc {
  border-width: 0;
}

div.contents {
  margin-left: 20px; margin-right: 16px;
  width: 700 px;
}

/* Get rid of the gradient backgrounds and background colors */
div.header,
#nav-tree,
.navpath ul,
.memproto, dl.reflist dt {
  background: none;
}
#nav-tree .selected {
  background: none;
  background-color: #990000;
  text-shadow: none;
}

a, a:link, a:visited {
  color: #2A5685;
  text-decoration: underline;
}
a:active, a:hover {
  color: #CC0000;
}

.directory tr.even,
pre.fragment,
.mdescLeft, .mdescRight, .memItemLeft, .memItemRight, .memTemplItemLeft, .memTemplItemRight, .memTemplParams,
.memproto, dl.reflist dt {
  background-color: #EEE;
  box-shadow: none;
  border-radius: 0;
}
.memdoc, dl.reflist dd {
  background: none;
  box-shadow: none;
  border-radius: 0;
}
pre.fragment {
  background-color: #FAFAFA;
  border: 1px solid #DADADA;
  margin: 1em 1em 1em 1.6em;
  overflow-x: auto;
  overflow-y: hidden;
  width: auto;
}
