##############################################
# stm32 minimal example openocd.cfg
# config file for J-link used with stm32f1x
##############################################

#source [find interface/stlink-v2.cfg]
source [find interface/jlink.cfg]

source [find target/stm32f1x.cfg]
