##############################################
# stm32 minimal example openocd.cfg
# config file for J-link used with stm32f1x
##############################################

source [find interface/stlink-v2.cfg]
transport select hla_swd
#set WORKAREASIZE 0x2000
source [find target/stm32f1x.cfg]
reset_config none
