src/*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
m4/
src/.deps/
src/Makefile
src/Makefile.in
src/dfu-suffix
src/dfu-util
src/dfu-version.h
stamp-h1
www/Makefile
